name: Run tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - uses: dschep/install-poetry-action@v1.3
        with:
          version: 1.0.2
      - name: Install dependencies
        run: |
          poetry export --dev -f requirements.txt -o requirements.txt
          pip install -r requirements.txt
      - name: Test with Pytest
        run: |
          xhost +SI:localuser:root
          pytest --cov-report=xml
      - uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: true
